name: Python Test

on:
  push:
    branches:
      - '**'

jobs:

  test:
    runs-on: ubuntu-latest
    #needs: lint  # Ensure the linting job runs first
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'  # You can specify a different version

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r starter/requirements.txt  # Install pytest if you need any additional dependencies

      - name: Run pytest
        run: |
          pytest  # Runs tests with pytest
